extends layout

block content
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // ---- Include the above in your HEAD tag --------
    .error-content
      .container
        .row
          .col-md-12
            .error-text
              h1.error 404 Error
              .im-sheep
                .top
                  .body
                  .head
                    .im-eye.one
                    .im-eye.two
                    .im-ear.one
                    .im-ear.two
                .im-legs
                  .im-leg
                  .im-leg
                  .im-leg
                  .im-leg
              h4 Oops! This page Could Not Be Found!
              p
                | Sorry bit the page you are looking for does not exist, have been removed or name changed.
              a.btn.btn-primary.btn-round(href='/') Go to homepage

